@import "../utils/mixins";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;

    @include respond-to("mobile") {
      flex-direction: row;
      justify-content: center;
      padding: 20px 20px;
      gap: 60px;
    }

    img {
      width: auto;
      height: 2.5rem;

      @include respond-to("mobile") {
       height: 3.5rem;
      }
    }
  }

.main-content, header {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
