@import "../utils/mixins";

.header {
  padding: 50px 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .container {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  img {
    height: auto;

    @include respond-to("mobile") {
      height: 3rem;
    }
  }

  @include respond-to("mobile") {
    padding: 20px;
  }
}

.main-content, header {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
