@import "../utils/mixins";
@import "../utils/variables";

.header {
  padding: $spacing-lg $spacing-md;
  width: 100%;
  box-sizing: border-box;
  @include flex(space-between, center);
  margin: 0 auto;

  .container {
    @include container;
    @include flex(space-between, center);
    gap: $spacing-md;
  }

  img {
    height: auto;

    @include respond-to("mobile") {
      height: 3rem;
    }
  }

  @include respond-to("mobile") {
    padding: $spacing-md;
  }
}

.main-content,
header {
  @include container;
}
