@import "../utils/mixins";

nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; // wrap dès le départ
  max-width: 100%;
  gap: 2rem;
}

.nav-link {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;

  @include respond-to("tablet") {
        flex-wrap: nowrap;
        gap: 2rem;
    }

    @include respond-to("mobile") {
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem; 
        font-size: 0.9rem;      
    }

  &.active {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

.nav {
    @include respond-to("mobile") {
        min-width: fit-content;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }
}

