@import "../utils/mixins";
@import "../utils/variables";

nav {
  @include flex(flex-end, center, row, wrap);
  max-width: 100%;
  gap: $spacing-lg;
}

.nav-link {
  @include text($font-md, $color-text-dark);
  text-decoration: none;

  @include respond-to("tablet") {
    flex-wrap: nowrap;
    gap: $spacing-lg;
  }

  @include respond-to("mobile") {
    @include flex(flex-end, center, row, nowrap);
    gap: $spacing-md;
    font-size: $font-sm;
  }

  &.active,
  &:active {
    text-decoration: underline;
  }
}

.nav {
  @include respond-to("mobile") {
    min-width: fit-content;
    margin: 0;
    @include flex(flex-end, center, row, nowrap);
    gap: $spacing-md;
  }
}
