@import "../utils/mixins";
@import "../utils/variables";

.banner {
  width: 100%;
  max-width: $max-width;
  height: 223px;
  margin: 0 auto;
  position: relative;
  border-radius: $radius-lg;
  overflow: hidden;

  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: $radius-lg;
  }

  &_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex(center, center, column);
    z-index: 1;
  }

  &_title {
    @include text(3.125rem, $color-text-light, bold); // 50px = 3.125rem
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
    padding: 0 $spacing-md;
  }

  @include respond-to("tablet") {
    height: 180px;

    &_title {
      @include text($font-md, $color-text-light, bold);
    }
  }

  @include respond-to("mobile") {
    height: 111px;

    &_title {
      @include text($font-sm, $color-text-light, bold);
    }
  }
}  
