.collapse {
  width: 1023px;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #FF6060;
  }

  &-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.4s ease;

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  &-title {
    margin: 0;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    font-size: 15px;
    border-radius: 5px;
    background-color: #f6f6f693;
    color: black;
    padding: 0 20px;
    transition: height 200ms ease-in-out, padding 200ms ease-in-out;

    &.visible {
      max-height: 500px;
      padding: 15px 20px;
    }
  }
}

