.collapse {
    width: 1023px;
    height:auto;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f662;
    border-radius: 5px;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
}

.collapse-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.collapse-title {
    margin: 0;
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.collapse-content {
    font-size: 15px;
    color: black;
    padding: 0 15px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
