@import "../utils/mixins";
@import "../utils/variables";

.collapse {
  width: 100%;
  max-width: $max-width;
  height: auto;
  margin: $spacing-lg auto;
  display: flex;
  flex-direction: column;
  border-radius: $radius-sm;

   @include respond-to("tablet") {
    width: 100%;
    height: auto;
  }

  @include respond-to("mobile") {
    margin: $spacing-md auto;
  }

  &-header {
    @include flex(space-between, center);
    padding: $spacing-sm $spacing-lg;
    color: $color-text-light;
    border-radius: $radius-sm;
    background-color: $color-primary;
  }

  &-button {
    background-color: transparent;
    border: none;
    color: $color-text-light;
    font-size: $font-lg;
    cursor: pointer;
    transition: transform 0.4s ease;

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  &-title {
    margin: 0;
    @include text($font-lg, $color-text-light, bold);
    border-radius: $radius-sm;
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    font-size: $font-md;
    border-radius: $radius-sm;
    background-color: rgba($color-secondary, 0.9);
    color: $color-text-dark;
    padding: 0 $spacing-lg;
    transition: height 200ms ease-in-out, padding 200ms ease-in-out;

    &.visible {
      max-height: 500px;
      padding: $spacing-md $spacing-lg;
    }
  }
}