@import "../utils/mixins";

.home_gallery {    
    background-color: $color-secondary;
    border-radius: $radius-lg;
    @include grid(repeat(3, 1fr), $spacing-lg);
    width: 100%;
    max-width: $max-width;
    margin: $spacing-lg auto;
    box-sizing: border-box;
    padding: $spacing-lg;

    @include respond-to('tablet') {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;
    padding: $spacing-md;
  }

    @include respond-to('mobile') {
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-md;
    padding: $spacing-md;
    }
}
