@import "../utils/mixins";

.logement-slideshow {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.logement-infos {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: $max-width;
  margin: 0 auto;
  gap: 1rem;


  .logement-infos-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .logement-header {
    h1 {
      font-size: 2rem;
      margin: 0;
      color: #ff6060;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .logement-infos-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    .logement-infos-tag {
      background-color: #ff6060;
      color: white;
      border-radius: 2rem;
      padding: 0.3rem 2rem;
      font-size: 0.9rem;
      white-space: nowrap;
    }
  }

  .logement-infos-host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .host-name {
      font-size: 1.2rem;
      color: #ff6060;
      margin: 0;
      text-align: right;
      white-space: nowrap;
    }

    .host-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .logement-infos-rating {
    .stars {
      display: flex;
      justify-content: flex-end;
      gap: 0.3rem;
      margin-top: 1rem;
      font-size: 1.5rem;

      .filled {
        color: #ff6060;
      }

      .empty {
        color: #e3e3e3;
      }
    }
  }

  @include respond-to("tablet") {
    grid-template-columns: 1fr;

    .logement-infos-right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
    .logement-infos-host {
      justify-content: space-between;
      margin-top: 1rem;

      .host-name {
        text-align: left;
      }
    }

    .logement-infos-rating .stars {
      justify-content: flex-start;
    }
  }

  @include respond-to("mobile") {
    grid-template-columns: 1fr;


    .logement-infos-tags {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-top: 0.5rem;

      .logement-infos-tag {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
      }
    }

    .logement-infos-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .logement-infos-rating {
        order: -1;
        font-size: 1.2rem;
        display: flex;
        justify-content: flex-start;

        .stars {
          gap: 0.3rem;
          display: flex;
        }
      }

      .logement-infos-host {
        order: 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .host-name {
          font-size: 1rem;
          margin: 0;
          text-align: right;
          white-space: nowrap;
        }

        .host-picture {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .logement-header {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

.logement-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: $max-width;
  gap: 5rem;
  margin: 0 auto;

  .collapse {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  @include respond-to("tablet") {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @include respond-to("mobile") {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
