@import "../utils/mixins";
@import "../utils/variables";


.logement {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.logement-slideshow {
  width: 100%;
  border-radius: $radius-md;
  margin-bottom: $spacing-lg;
}

.logement-infos {
  @include grid(3fr 1fr, $spacing-md);
  margin: 0 auto;


  .logement-infos-right {
    @include flex(flex-start, flex-end, column);
    gap: $spacing-md;
  }

  .logement-header {
    h1 {
      @include text($font-lg, $color-primary, bold);
      margin: 0;

      @include respond-to("tablet") {
        font-size: $font-md;
      }
    }

    p {
      margin: $spacing-sm 0;
    }
  }

  .logement-infos-tags {
    @include flex(flex-start, flex-start, row, wrap);
    gap: $spacing-sm;
    margin-top: $spacing-md;

    .logement-infos-tag {
      background-color: $color-primary;
      color: $color-text-light;
      border-radius: $radius-lg;
      padding: 0.3rem 2rem;
      font-size: $font-sm;
      white-space: nowrap;

      @include respond-to("tablet") {
        padding: 0.3rem 1rem;
        font-size: $font-xs;
      }
    }
  }

  .logement-infos-host {
    @include flex(flex-end, center);
    gap: $spacing-md;

    .host-name {
      @include text(1.2rem, $color-primary);
      margin: 0;
      text-align: right;
      white-space: nowrap;
    }

    .host-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .logement-infos-rating {
    .stars {
      @include flex(flex-end, center);
      gap: 0.3rem;
      margin-top: $spacing-md;
      font-size: $font-md;

      .filled {
        color: $color-primary;
      }

      .empty {
        color: $color-grey;
      }
    }
  }

  @include respond-to("tablet") {
    grid-template-columns: 1fr;

    .logement-infos-right {
      @include flex(space-between, center, row-reverse);
      gap: $spacing-md;
      width: 100%;
    }
    
    .logement-infos-host {
      justify-content: space-between;
      margin-top: $spacing-md;

      .host-name {
        text-align: left;
      }
    }

    .logement-infos-rating .stars {
      justify-content: flex-start;
    }
  }

 
}

.logement-details {
  @include grid(1fr 1fr, $spacing-xl);
  max-width: $max-width;
  margin: 0 auto;

  .collapse {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  @include respond-to("tablet") {
    grid-template-columns: 1fr;
    gap: 0;
  }

}
