@import "../utils/mixins";
@import "../utils/variables";

.notfound {
  @include flex(center, center, column);
  gap: 139px;
  padding: 0 $spacing-xl;
  box-sizing: border-box;

  @include respond-to("tablet") {
    width: 100%;
  }

  @include respond-to("mobile") {
    width: 100%;
    gap: 100px;
  }

  &-title {
    @include text(288px, $color-primary, bold);
    margin: 0;

    @include respond-to("tablet") {
      font-size: 200px;
      margin-top: 10vh;
    }

    @include respond-to("mobile") {
      font-size: 100px;
      margin-top: 10vh;
    }
  }

  &-text {
    @include text(2.375rem, $color-primary);
    margin: 0;
    text-align: center;

    @include respond-to("tablet") {
      font-size: 1.5rem;
    }

    @include respond-to("mobile") {
      font-size: 1.25rem;
    }
  }

  &-link {
    @include text(1.125rem, $color-text-dark);
    margin-top: $spacing-sm;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-sm;
    height: 10vh;
    text-align: center;
  }
}