@import "../utils/mixins";

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 139px;
    padding: 0 60px;
    box-sizing: border-box;

    @include respond-to("tablet") {
        width:100%;
    }

    @include respond-to("mobile") {
        width:100%;
        gap: 100px;
    }

    &-title {
        font-size: 288px;
        color: #ff6060;
        margin: 0;

        @include respond-to("tablet") {
            font-size: 200px;
            margin-top: 10vh;
        }

        @include respond-to("mobile") {
            font-size: 100px;
            margin-top: 10vh;
        }
    }

    &-text {
        font-size: 38px;
        color: #ff6060;
        margin: 0;
        text-align: center;

        @include respond-to("tablet") {
            font-size: 24px;
        }
        @include respond-to("mobile") {
            font-size: 20px;
        }
    }

    &-link {
        color: black;
        font-size: 18px;
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        height: 10vh;
        text-align: center;
    }
}