$breakpoints: (
    "mobile":480px,
    "tablet":768px,
);

$max-width: 1240px;

// Couleurs
$color-primary: #ff6060;
$color-secondary: #f6f6f6;
$color-text-dark: black;
$color-text-light: white;
$color-grey: #e3e3e3;

// Font sizes
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 0.9rem;
$font-xs: 0.8rem;

// Espacements
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 5rem;

// Border radius
$radius-sm: 0.3rem;
$radius-md: 1rem;
$radius-lg: 2rem;